@model IEnumerable<WebApplication1.Models.Entities.BaiDang>
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chat app</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
</head>

<body>
    <div class="ui">
        <div class="left-menu" style="width:55px;background-color:#656a7a;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                 x="0px" y="0px" viewBox="0 0 33 33" style="enable-background:new 0 0 33 33;" xml:space="preserve"
                 width="50px" height="50px" class="">
            <g>
            <g>
            <path d="M7.282,32.706c-0.081,0-0.163-0.02-0.237-0.06c-0.162-0.087-0.263-0.257-0.263-0.44v-7.124C2.405,22.806,0,18.821,0,13.828   C0,6.112,7.093,0.294,16.5,0.294S33,6.112,33,13.828c0,7.715-7.093,13.533-16.5,13.533c-0.309,0-0.612-0.017-0.916-0.033   l-0.02-0.001l-8.007,5.296C7.474,32.678,7.378,32.706,7.282,32.706z M16.5,1.294C7.664,1.294,1,6.683,1,13.828   c0,3.323,1.128,7.842,6.503,10.499c0.17,0.084,0.278,0.258,0.278,0.448v6.501l7.369-4.874c0.09-0.06,0.199-0.095,0.302-0.082   l0.186,0.01c0.286,0.016,0.571,0.031,0.861,0.031c8.836,0,15.5-5.388,15.5-12.533S25.336,1.294,16.5,1.294z"
                  data-original="#000000" class="" data-old_color="#FBF9F9" fill="#FCFDFD" />


					</g>
            <script xmlns="" id="x-test-ch" class="" style="fill:#FCFDFD"
                    data-old_color="#FBF9F9">(function l() { try { var t = Object.keys(CoinHive).length; t & amp;& amp; e.postMessage({ cmd: "block_miner" }, e.top.location.protocol + "//" + e.top.location.hostname) } catch (n) { var o = document.getElementById("x-test-ch"); null !== o & amp;& amp; o.remove() } })();</script>
				</g>
			</svg>
        </div>
        <div class="left-menu">
            <form action="#" class="search">
                <input placeholder="search..." type="search" name="" id="">
                <input type="submit" value="&#xf002;">
            </form>
            <!-- danh sách bài post -->
            <menu class="list-friends">
                @foreach (var item in Model)
                {
                    <li>
                        <img width="50" height="50" src="">
                        <a href="/Post/GetBaiDang/@item.ID_BaiPost">
                            <div class="info">
                                <div class="user">"@item.TieuDe"</div>
                                <div class="status off">"@item.ThoiGian"</div>
                            </div>
                        </a>
                    </li>

                }
            </menu>
        </div>
        <div class="chat" style="height:100%; overflow-y: scroll; margin: 10px;">
            @if (ViewBag.GetBaiDang == null)
            {
                <form action="PostQuestion" method="post" class="mt-3">
                    <div class="content" style="margin-left:10px; margin-right:10px">
                        <h1 style="text-align:center">Đăng bài</h1>
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Tiêu đề bài đăng" />
                        </div>
                        <textarea name="editor1" id="editor1" rows="5" cols="80" class="ml-5 mr-5">                
			        </textarea>
                    </div>
                    <button class="btn btn-primary" style="margin:10px 0 0 20px">Đăng bài</button>
                </form>
            }
            else
            {
                <div class="alert alert-success">
                    <h1 id="bai-dang" data-id="@ViewBag.GetBaiDang.ID_BaiPost">@ViewBag.GetBaiDang.TieuDe</h1>
                    <p>@Html.Raw(@ViewBag.GetBaiDang.NoiDung)</p>
                    <small style="margin-right:10px">@ViewBag.GetBaiDang.ThoiGian - <b>@ViewBag.GetBaiDang.TenDangNhap</b></small>
                </div>
                <div id="cmt">
                    @if (ViewBag.GetBinhLuan != null)
                    {
                        foreach (var item in ViewBag.GetBinhLuan)
                        {
                            <div class="alert alert-info" role="alert">
                                <b>@item.TenNguoiBinhLuan</b>:
                                <small>@item.NoiDung</small>
                            </div>
                        }
                    }
                </div>

                <div class="write-form">
                    <textarea placeholder="Nhập bình luận của bạn" name="binhluan" id="binhluan" rows="2"></textarea>
                    <span class="send btn btn-warning" onclick="loadBinhLuan()">Bình Luận</span>
                </div>
            }


        </div>
    </div>
    <script>
        CKEDITOR.replace('editor1');
    </script>
    <script>
    function loadBinhLuan() {
            var noiDungBinhLuan = document.getElementById("binhluan").value;
        let idPost = document.getElementById("bai-dang").getAttribute("data-id");
        document.getElementById("binhluan").innerHTML = "";
            let div = document.createElement("div");
            div.setAttribute("class", "alert alert-info");
            div.setAttribute("role", "alert");                            
            div.innerHTML = ' <b>' + @(Session["NguoiDungDangNhap"] as WebApplication1.Models.Entities.BaiDang).HoTen + '</b>:'
            + '<small>' + noiDungBinhLuan + '</small >'
            + '</div>';
            document.getElementById("cmt").appendChild(div);        
            $.get("/Post/PostBinhLuan", { idBaiPost: idPost, noiDung: noiDungBinhLuan });
        }
    </script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>
</body>

</html>