@using WebApplication1.Models.Entities
@model IEnumerable<NguoiDung>
@{
    ViewData["Title"] = "Chat Application";
    NguoiDung nguoiDung = Session["NguoiDungDangNhap"] as NguoiDung;
}
<div class="ui">
    <div class="left-menu control-menu" style="width:55px;background-color:#656a7a;">
        <img width="55" height="55" src="@Url.Content(nguoiDung.HinhAnh)"
             class="borderr-radius">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
             x="0px" y="0px" viewBox="0 0 400.8 400.8"
             style="enable-background:new 0 0 400.8 400.8; margin-bottom: 16px; margin-top: 15px;" xml:space="preserve" width="35px"
             height="35px" class="">
        <g>
        <g>
        <g>
        <path d="M241.44,15.96c-84.96,0-154.32,53.2-158.8,120C33.04,151.96,0,190.52,0,233.4c0.946,31.575,17.215,60.71,43.6,78.08v67.36    c0,3.314,2.686,6,5.999,6.001c1.513,0,2.971-0.572,4.081-1.601l51.36-47.04c8.833,1.447,17.769,2.17,26.72,2.16    c56,0,105.28-27.84,124-69.6c6.24-0.48,12.48-1.12,18.72-2.16l63.04,57.68c2.43,2.253,6.226,2.11,8.479-0.319    c1.029-1.11,1.601-2.567,1.601-4.081v-82.72c33.84-24,53.2-58.32,53.2-94.48C400.72,72.84,329.28,15.96,241.44,15.96z     M131.76,326.36c-9.23,0.011-18.441-0.82-27.52-2.48c-1.838-0.344-3.731,0.188-5.12,1.44l-43.44,40v-57.04    c-0.004-1.989-0.992-3.846-2.64-4.96C26.8,285.64,12,259.88,12,233.32c0-36.48,27.92-69.68,70.24-84.72    c0.411,5.4,1.294,10.754,2.64,16c5.902,24.347,19.375,46.195,38.48,62.4c1.12,1.04,41.76,41.04,118.96,42    C223.68,303.8,180.64,326.36,131.76,326.36z M338.16,229.08c-1.648,1.114-2.636,2.971-2.64,4.96v72l-55.2-50.48    c-1.11-1.029-2.567-1.6-4.08-1.6h-1.12c-10.554,1.961-21.265,2.951-32,2.96c-58.08,0-93.2-22.56-110.4-37.04    c-17.531-15.183-30.262-35.142-36.64-57.44c-1.551-6.582-2.356-13.318-2.4-20.08c0.48-62.88,66.56-114.48,147.76-114.48    S388.72,79.32,388.72,142.6C388.72,175.72,370.32,207.24,338.16,229.08z"
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
				</g>
			</svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
             x="0px" y="0px" viewBox="0 0 380.65 380.65"
             style="enable-background:new 0 0 380.65 380.65;margin-top: 6px; margin-bottom: 16px;" xml:space="preserve" width="35px"
             height="35px" class="">
        <g>
        <g>
        <g>
        <path d="M310.805,268.65h-44.84c-9.267-0.006-18.377,2.392-26.44,6.96c-6.863,3.893-12.8,9.229-17.4,15.64    c-3.064-0.535-6.169-0.802-9.28-0.8h-44.88c-3.111-0.003-6.216,0.265-9.28,0.8c-4.599-6.412-10.536-11.748-17.4-15.64    c-8.063-4.568-17.173-6.966-26.44-6.96h-44.84c-29.796,0.066-53.934,24.204-54,54v30.44c0.022,3.188,2.612,5.76,5.8,5.76h92v16    c0,3.203,2.597,5.8,5.8,5.8h141.44c3.203,0,5.8-2.597,5.8-5.8v-16h92c3.203,0,5.8-2.597,5.8-5.8v-30.4    C364.579,292.916,340.538,268.804,310.805,268.65z M114.405,339.25v1.24c0,0.56,0,1.08,0,1.64v2.32v2.8h-86.8v-24.6    c0.066-23.39,19.01-42.334,42.4-42.4h44.84c7.261-0.008,14.4,1.866,20.72,5.44c4.237,2.396,8.038,5.494,11.24,9.16    C128.756,302.684,116.36,319.672,114.405,339.25z M255.125,344.45v24.64h-129.56v-25.08c0-0.453,0-0.893,0-1.32    c0-0.693,0-1.387,0-2.08v-1.04c0-0.4,0-0.8,0-1.2v-1.28v-0.4v-0.44v-0.88l0.24-0.96l0.4-1.44l0.28-0.96    c5.746-17.415,21.982-29.206,40.32-29.28l1.16-0.64h44.88c21.297,0.078,39.258,15.885,42.04,37c0,0.88,0,1.76,0.24,2.64    C255.125,342.637,255.125,343.543,255.125,344.45z M353.205,347.29h-86.4v-3.48c0-0.44,0-0.88,0-1.32c0-0.453,0-0.907,0-1.36    c0-0.64,0-1.32,0-1.96v-0.6v-0.68v-1.24v-0.2v-0.48v-0.44v-0.28v-0.52v-0.56v-0.28v-0.36v-0.36v-0.36v-0.88v-0.4v-0.52v-0.52    l-0.28-1v-0.4v-0.36v-0.28v-0.4v-0.52l-0.56-1.56c-5.212-13.855-15.842-24.99-29.44-30.84c2.406-3.562,5.332-6.744,8.68-9.44    c6.32-3.574,13.459-5.448,20.72-5.44h44.88c23.389,0.066,42.334,19.01,42.4,42.4V347.29z"
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <circle cx="190.645" cy="77.85" r="6.56" data-original="#000000" class="active-path"
                data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <path d="M121.285,189.17c-7.643-7.688-18.039-12.008-28.88-12c-22.555-0.02-40.856,18.248-40.876,40.804    c-0.02,22.555,18.248,40.856,40.804,40.876s40.856-18.248,40.876-40.804C133.218,207.221,128.93,196.835,121.285,189.17z     M113.085,238.65c-11.417,11.421-29.93,11.425-41.352,0.008c-11.421-11.417-11.425-29.93-0.008-41.352    c11.417-11.421,29.93-11.425,41.352-0.008c5.484,5.482,8.566,12.918,8.568,20.672C121.656,225.728,118.576,233.17,113.085,238.65z    "
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <circle cx="233.045" cy="77.85" r="6.56" data-original="#000000" class="active-path"
                data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <path d="M258.725,22.73c-19.566-15.048-43.638-23.053-68.32-22.72c-24.682-0.333-48.753,7.672-68.32,22.72    c-17.92,14.32-29,34.24-29,56.28c0.022,11.194,2.87,22.201,8.28,32c5.148,9.257,12.066,17.412,20.36,24l-4.6,30.6    c-0.479,3.145,1.683,6.082,4.828,6.561c1.303,0.198,2.634-0.056,3.772-0.721l31.28-18.24c4.957,1.474,10.009,2.61,15.12,3.4    c6.062,0.934,12.187,1.402,18.32,1.4c24.682,0.333,48.754-7.672,68.32-22.72c17.88-14.36,28.96-34.24,28.96-56.28    S276.645,37.05,258.725,22.73z M251.525,126.33c-17.545,13.349-39.077,20.395-61.12,20c-5.53,0.008-11.053-0.406-16.52-1.24    c-5.424-0.811-10.774-2.055-16-3.72c-1.551-0.489-3.236-0.301-4.64,0.52l-22.84,13.48l3.32-22c0.317-2.149-0.594-4.295-2.36-5.56    c-8.204-5.937-15.027-13.578-20-22.4c-4.448-8.089-6.786-17.169-6.8-26.4c0-18.4,9.4-35.12,24.6-47.28    c17.545-13.349,39.077-20.395,61.12-20c22.043-0.395,43.575,6.651,61.12,20c15.2,12,24.6,28.88,24.6,47.28    C276.005,97.41,266.725,114.13,251.525,126.33z"
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <path d="M288.438,177.13c-22.555-0.02-40.856,18.248-40.876,40.804c-0.01,10.825,4.279,21.212,11.924,28.876    c7.643,7.688,18.039,12.008,28.88,12c22.555,0.02,40.856-18.248,40.876-40.804S310.993,177.15,288.438,177.13z M309.085,238.633    c-11.417,11.421-29.93,11.425-41.352,0.008c-5.484-5.482-8.566-12.918-8.568-20.672c-0.011-7.758,3.069-15.2,8.56-20.68    c11.417-11.421,29.93-11.425,41.352-0.008C320.498,208.698,320.502,227.212,309.085,238.633z"
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <circle cx="148.245" cy="77.85" r="6.56" data-original="#000000" class="active-path"
                data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <path d="M219.225,210.83c-7.652-7.626-18.017-11.905-28.82-11.9c-10.841-0.008-21.237,4.312-28.88,12    c-15.906,15.961-15.861,41.794,0.1,57.7c15.961,15.906,41.794,15.861,57.7-0.1S235.186,226.736,219.225,210.83z M190.397,269.042    c-16.149-0.005-29.236-13.1-29.232-29.248s13.1-29.236,29.248-29.232c7.754,0.002,15.19,3.084,20.672,8.568    c5.491,5.48,8.571,12.922,8.56,20.68C219.64,255.959,206.545,269.046,190.397,269.042z"
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
				</g>
			</svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
             x="0px" y="0px" viewBox="0 0 505.4 505.4" style="margin-bottom: 16px; enable-background:new 0 0 505.4 505.4; margin-top:6px;"
             xml:space="preserve" width="35px" height="35px">
        <g>
        <g>
        <g>
        <path d="M437.1,233.45c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7c-31.9,0-57.7,25.8-57.7,57.7    c0,19.5,9.7,36.8,24.6,47.2c-12.7,4.4-24.3,11.2-34.1,20c-13.5-11.5-29.4-20.3-46.8-25.5c21.1-12.8,35.3-36.1,35.3-62.6    c0-40.4-32.7-73.1-73.1-73.1c-40.4,0-73.1,32.8-73.1,73.1c0,26.5,14.1,49.8,35.3,62.6c-17.2,5.2-32.9,13.9-46.3,25.2    c-9.8-8.6-21.2-15.3-33.7-19.6c14.8-10.4,24.6-27.7,24.6-47.2c0-31.9-25.8-57.7-57.7-57.7s-57.7,25.8-57.7,57.7    c0,19.5,9.7,36.8,24.6,47.2C28.5,247.25,0,284.95,0,329.25v6.6c0,0.2,0.2,0.4,0.4,0.4h122.3c-0.7,5.5-1.1,11.2-1.1,16.9v6.8    c0,29.4,23.8,53.2,53.2,53.2h155c29.4,0,53.2-23.8,53.2-53.2v-6.8c0-5.7-0.4-11.4-1.1-16.9H505c0.2,0,0.4-0.2,0.4-0.4v-6.6    C505.2,284.85,476.8,247.15,437.1,233.45z M362.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7    c0,22.7-18.3,41.2-40.9,41.7c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C380.5,227.45,362.3,208.95,362.3,186.15z M194.9,165.35    c0-31.5,25.6-57.1,57.1-57.1s57.1,25.6,57.1,57.1c0,30.4-23.9,55.3-53.8,57c-1.1,0-2.2,0-3.3,0c-1.1,0-2.2,0-3.3,0    C218.8,220.65,194.9,195.75,194.9,165.35z M59.3,186.15c0-23,18.7-41.7,41.7-41.7s41.7,18.7,41.7,41.7c0,22.7-18.3,41.2-40.9,41.7    c-0.3,0-0.5,0-0.8,0s-0.5,0-0.8,0C77.6,227.45,59.3,208.95,59.3,186.15z M125.5,320.15H16.2c4.5-42.6,40.5-76,84.2-76.3    c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c20.8,0.1,39.8,7.8,54.5,20.3C141.7,279.75,131,298.95,125.5,320.15z M366.8,359.95    c0,20.5-16.7,37.2-37.2,37.2h-155c-20.5,0-37.2-16.7-37.2-37.2v-6.8c0-62.1,49.6-112.9,111.3-114.7c1.1,0.1,2.3,0.1,3.4,0.1    s2.3,0,3.4-0.1c61.7,1.8,111.3,52.6,111.3,114.7V359.95z M378.7,320.15c-5.5-21.1-16-40-30.3-55.6c14.8-12.8,34-20.5,55-20.7    c0.2,0,0.4,0,0.6,0s0.4,0,0.6,0c43.7,0.3,79.7,33.7,84.2,76.3H378.7z"
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
				</g>
			</svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
             x="0px" y="0px" viewBox="0 0 321.145 321.145" style="margin-bottom: 16px; enable-background:new 0 0 321.145 321.145; "
             xml:space="preserve" width="35px" height="35px">
        <g>
        <g>
        <g>
        <path d="M320.973,200.981c-0.8-18.4-4-38.8-8.8-58c-4.8-18.4-10.8-35.6-18-48.8c-28-49.2-58.4-41.6-94.8-32    c-11.6,2.8-24,6-36.8,7.2h-4c-12.8-1.2-25.2-4.4-36.8-7.2c-36.4-9.2-66.8-17.2-94.8,32.4c-7.2,13.2-13.6,30.4-18,48.8    c-4.8,19.2-8,39.6-8.8,58c-0.8,20.4,1.2,35.2,5.6,45.6c4.4,9.6,10.8,15.6,19.2,18c7.6,2,16.4,1.2,25.6-2.8    c15.6-6.4,33.6-20,51.2-36.4c12.4-12,35.6-18,58.8-18s46.4,6,58.8,18c17.6,16.4,35.6,30,51.2,36.4c9.2,3.6,18,4.8,25.6,2.8    c8-2.4,14.8-8,19.2-18.4C319.773,236.581,321.773,221.781,320.973,200.981z M301.773,240.981c-2.4,5.6-5.6,8.8-9.6,10    c-4.4,1.2-10,0.4-16.4-2c-14-5.6-30.4-18-46.4-33.2c-15.2-15.2-42-22.8-68.8-22.8s-53.6,7.6-69.2,22c-16.4,15.2-32.8,28-46.4,33.2    c-6.4,2.4-12,3.6-16.4,2c-4-1.2-7.2-4.4-9.6-10c-3.2-7.6-4.8-20-4-38.4c0.8-17.2,3.6-36.8,8.4-55.2c4.4-17.2,10-33.2,16.8-45.2    c22-39.6,47.6-33.2,78-25.2c12.4,3.2,25.2,6.4,39.2,7.6c0.4,0,0.4,0,0.8,0h4.4c0.4,0,0.4,0,0.8,0c14.4-1.2,27.2-4.4,39.6-7.6    c30.4-7.6,56-14.4,78,25.2c6.8,12,12.4,27.6,16.8,45.2c4.4,18.4,7.6,37.6,8.4,55.2    C306.973,220.181,305.373,232.581,301.773,240.981z"
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <path d="M123.773,122.981c-4-3.6-8.8-6.4-14.4-6.8c-0.4-5.2-2.8-10.4-6.4-14l-0.4-0.4c-4.4-4.4-10-6.8-16.4-6.8    c-6.4,0-12.4,2.8-16.4,6.8c-3.6,3.6-6.4,8.8-6.8,14.4c-5.6,0.4-10.4,2.8-14.4,6.4l-0.4,0.4c-4.4,4.4-6.8,10-6.8,16.4    c0,6.4,2.8,12.4,6.8,16.4c4,4,8.8,6.4,14.8,6.8c0.4,5.6,2.8,10.8,6.8,14.4c4.4,4.4,10,6.8,16.4,6.8c6.4,0,12.4-2.8,16.4-6.8    c3.6-4,6.4-8.8,6.8-14.4c5.6-0.4,10.8-2.8,14.4-6.8c4.4-4.4,6.8-10,6.8-16.4C130.573,132.981,127.773,126.981,123.773,122.981z     M113.773,145.381c-1.6,1.6-3.6,2.4-6,2.4h-5.6c-4,0-7.6,3.2-7.6,7.6v5.2c0,2.4-0.8,4.4-2.4,6c-1.6,1.6-3.6,2.4-6,2.4    c-2.4,0-4.4-0.8-6-2.4c-1.6-1.6-2.4-3.6-2.4-6v-5.6c0-4-3.2-7.6-7.6-7.6h-5.6c-2.4,0-4.4-0.8-6-2.4c-1.2-1.2-2.4-3.2-2.4-5.6    c0-2.4,0.8-4.4,2.4-6c0,0,0,0,0.4-0.4c1.6-1.2,3.6-2,5.6-2h5.6c4,0,7.6-3.2,7.6-7.6v-5.6c0-2.4,0.8-4.4,2.4-6    c1.6-1.6,3.6-2.4,6-2.4c2.4,0,4.4,0.8,6,2.4c0,0,0,0,0.4,0.4c1.2,1.6,2,3.6,2,5.6v5.6c0,4,3.2,7.6,7.6,7.6h5.6    c2.4,0,4.4,0.8,6,2.4c1.6,1.6,2.4,3.6,2.4,6C116.173,141.781,115.373,143.781,113.773,145.381z"
              data-original="#000000" class="active-path" data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <circle cx="230.173" cy="110.981" r="14" data-original="#000000" class="active-path"
                data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <circle cx="230.173" cy="167.781" r="14" data-original="#000000" class="active-path"
                data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <circle cx="201.773" cy="139.381" r="14" data-original="#000000" class="active-path"
                data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
        <g>
        <g>
        <circle cx="258.573" cy="139.381" r="14" data-original="#000000" class="active-path"
                data-old_color="#ffffff" fill="#ffffff" />

						</g>
					</g>
				</g>
			</svg>
    </div>
    <div class="left-menu">
        <form action="#" class="search">
            <input placeholder="search..." type="search" name="" id="">
            <input type="submit" value="&#xf002;">
        </form>
        <menu class="list-friends">
            @foreach (NguoiDung item in Model)
            {
                if (item.TenDangNhap != nguoiDung.TenDangNhap)
                {
                    <li style="cursor:pointer;" onclick="chatWith('@item.TenDangNhap')" class="">
                        <img width="50" height="50" src="@Url.Content(item.HinhAnh)">
                        <div class="info">
                            <div class="user" tendn="@item.TenDangNhap">@item.HoTen</div>
                            <div class="status on">online</div>
                        </div>
                    </li>
                }
            }
        </menu>
    </div>
    <div class="chat">
        <div class="top">
            <div class="avatar">
                <img width="50" height="50" src="">
            </div>
            <div class="info">
                <div class="name"></div>
                <div class="status on">online</div>
            </div>
            <i class="fa fa-star"></i>
        </div>
        <ul class="messages" style="height:calc(100% -220px); overflow-y:scroll;"></ul>
        <div class="write-form">
            <textarea placeholder="Type your message" name="e" id="texxt" rows="2"></textarea>
            <i class="fa fa-picture-o"></i>
            <i class="fa fa-file-o"></i>
            <span class="send">Send</span>
        </div>
    </div>
</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
    $(".chat").hide();
    var chat = $.connection.chatHub;
//chat.client.notify = msg => alert(msg);
    chat.client.sendMessage = (nguoiGoi, nguoiNhan, noidung, thoiGian) => {
        alert($(".chat").is(":visible"));

        if ($(".chat").is(":visible")) {
            if ($(".chat").data("id") === nguoiGoi) {
                $(".send").attr("onclick", "guiTinNhan('" + nguoiGoi + "')");
                $(".messages").append('<li class="friend-with-a-SVAGina">' +
                    '<div class="head">' +
                    '<span class="name">' + nguoiGoi + '</span>' +
                    '<span class="time">' + thoiGian + '</span>' +
                    '</div>' +
                    '<div class="message">' + noidung + '</div>' +
                    '</li>');
            } else {
                let listf = $(".user");
                console.log($(listf));
            for (let i = 0; i < $(listf).length; i++) {
                if ($(listf[i]).attr("tendn") === nguoiGoi) {
                    $(listf[i]).attr("style", "font-weight:bold;");
                        return;
                    }
                }
            }
        } else {
            let listf = $(".user");
                console.log($(listf));
            for (let i = 0; i < $(listf).length; i++) {
                if ($(listf[i]).attr("tendn") === nguoiGoi) {
                    $(listf[i]).attr("style", "font-weight:bold;");
                        return;
                    }
                }
        }
    };
    $.connection.hub.start().done(() => {
        chat.server.hello('@nguoiDung.TenDangNhap');
    });
    function chatWith(tenDangNhap) {
        $.get("Chat/GetNguoiDung", { tenDangNhap: tenDangNhap }, nguoiDung => {
            $(".chat").show();
            $(".chat .avatar img").attr("src", nguoiDung.HinhAnh);
            $(".chat .info .name").html(nguoiDung.HoTen);
            $(".send").attr("onclick", "guiTinNhan('" + nguoiDung.TenDangNhap + "')");

            $(".chat").attr("data-id", tenDangNhap);
        });
        $.get("Chat/GetTinNhan", { nguoiAy: tenDangNhap }, dstinnhan => {
            let message = $(".messages");
            message.html("");
            for (let i = 0; i < dstinnhan.length; i++) {
                let tinnhan = dstinnhan[i];
                if (tinnhan.NguoiNhan === tenDangNhap) {
                    message.append('<li class="i">' +
                        '<div class="head">' +
                        '<span class="time">' + tinnhan.ThoiGian + '</span>' +
                        '<span class="name">' + tinnhan.NguoiNhan + '</span>' +
                        '</div>' +
                        '<div class="message">' + tinnhan.NoiDung + '</div>' +
                        '</li>');
                } else {
                    message.append('<li class="friend-with-a-SVAGina">' +
                        '<div class="head">' +
                        '<span class="name">' + tinnhan.NguoiNhan + '</span>' +
                        '<span class="time">' + tinnhan.ThoiGian + '</span>' +
                        '</div>' +
                        '<div class="message">' + tinnhan.NoiDung + '</div>' +
                        '</li>');
                }
            }
            $('.messages').animate({
        scrollTop: $('.messages')[0].scrollHeight}, 0);
        });
    }
    function guiTinNhan(choAi) {

        let text = $("#texxt").val().trim();
        $("#texxt").val("");
        var today = new Date();
        var now = today.getDate() + '/' + (today.getMonth() + 1) + '/' +today.getFullYear();
        $(".messages").append('<li class="i">' +
            '<div class="head">' +
            '<span class="time">' + now + '</span>' +
            '<span class="name">@nguoiDung.HoTen</span>' +
            '</div>' +
            '<div class="message">' + text + '</div>' +
            '</li>');
        if (text !== "") {
            chat.server.guiTinNhan('@nguoiDung.TenDangNhap', choAi, text);
        }

        $('.messages').animate({
        scrollTop: $('.messages')[0].scrollHeight}, 1000);
    }
        $(function () {
        });
    </script>
}